<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="conString" connectionString="Data Source=DESKTOP-R9R95ER\MYSQLINSTANCE;Initial Catalog=NawazEyeWebsiteProject;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>